.project-youtube-card {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    background-color: #212529;
    border-radius: 0.3rem;
    
    iframe {
        min-width: 100%;
        max-width: 100%;
        background-color: #212529;
        //border: #212529 solid medium;
        border-radius: 0.3rem;
    }

    p {
        padding-bottom: 10px;
        width: 80% !important;
        margin-left: 10%;
        color: white;
    }
}