:root { --time: 0.3s; } // idk what this does but it's required to make this work lol

.project-flip-card {
    perspective: 100rem;
    display: flex;
    transition: z-index, transform calc(var(--time) / 4), height calc(var(--time) / 4);
    transition-delay: var(--time), 0s;
    text-decoration: none;
    color: inherit;
    z-index: 0;
    height: 100%;
  
    img {
      height:100%;
      border: #16181b medium solid;
    }

    &.gradient .card-img-overlay {
      background: linear-gradient(180deg, #00000075, transparent 80%);
    }
    
    &:hover {
        transition-delay: 0s;
        z-index: 1;
    }

    &:active {
        transform: scale(0.975);
    }

    h3 {
      color: white;
    }
    
    h5 {
      color: white;
      font-size: 1.5rem;
      margin: 20px;
    }

    .card-img-overlay.centered {
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

.project-card-body {
  flex: 1;
  display: flex;
  transform-style: preserve-3d;

  .project-flip-card:hover &, .project-flip-card:focus & {
    .project-card-back {
      height: 30%;
    }
  }

  .project-card-front {
    background-color: #16181b;
    height: 100%;

    svg {
      color: white;
      // margin-top: 80px;
    }
  }
  
  .project-card-back {
    transform: translate(-100%, 0);
    height: 0;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    background-color: #16181b;
  }
  
  .project-card-front, .project-card-back {
    transition: var(--time) transform, var(--time) height;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    backface-visibility: hidden;
    min-width: 100%;
    margin: 0px;
    text-align: center;
    justify-content: center;
  }
}
