.project-text-card {
    background-color: #16181b;
    padding: 20px;
    padding-top: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 1rem;
    
    h2, h4, h5 {
        text-align: center;
    }

    p, h2, h3, h4, h5, li {
        color: #eeeeee;
    }

    &.centered {
        text-align: center;
    }

    a {
        text-decoration: none;
        
        h2:hover {
            color: #A0AFB7;
        }
    }
}